:root, body, html {
        background-color: rgb(138, 138, 138);
        box-sizing: content-box;
        display: contents;
        flex-wrap: wrap;   
        font-size: 16px;
        img {
            max-width: 100%;
            height: auto;
}

    }
    
    html{

        height: 100%;
        align-items: center;
    
    }

    @media (min-width: 600px) {
  body {
    font-size: 18px;
    padding: 2rem;
  }
}


p {
    font-size: 10px;
color: rgb(196, 194, 187);
text-shadow: black ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: left;
margin-left: 10px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

h1.exp {
    max-width: 600px;
    margin-top: 0px;
    font-size: clamp(1rem, 3vw, 2rem);
}

h1 {
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
margin: auto;
text-align: center;
font-family: 'Zen Tokyo Zoo', Impact, Haettenschweiler, sans-serif ;
font-size: clamp(20px, 5vw, 40px);

}
h2 {
color: rgb(255, 255, 255);
font-family: 'Zen Tokyo Zoo', Impact, Haettenschweiler, sans-serif ;
text-align: center;
margin-left: 10px;
font-size: 35px;
}
li {
    font-weight: bold;
    color: rgb(207, 206, 201);
    text-align: left;
}

div#iFooter {
    background-color: black;
    font-size: 8px;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

div#iInterface {
    background-color: #ffffff;
    max-width: 600px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    /* border-radius: 5px; */
    color: white;
    position: solid;
    height: 100%;
    margin-top: 8px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    text-align: justify;
    box-shadow: 0px 0px 6px #000000, 0px 0px 0px #000000
}

div#iCabecalho {
    background-color: black;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    color: #000000;
    height: 100%;
    box-shadow: 0px 0px 6px #000000, 0px 0px 0px #000000
}
footer {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 12px;
    clear: both;
    margin-top: 10px;
    height: 50px;
    width: 100%;
}
 section {
    background-color: rgb(28,28,28);
    display: block ;
    width: 640px;
    margin: auto;
    }

header {
    margin: auto;
    margin-top: 10px;
}
img#iWhatsapp {
    width: 25px;
    height: 25px;
    padding: 5px;
}
img#iGithub {
    width: 25px;
    height: 25px;
    padding: 5px;
}
img#iLinkedin {
    width: 25px;
    height: 25px;
    padding: 5px;
}
img#iEmail {
    width: 23px;
    height: 23px;
    padding: 5px;
}
img#iFaceBook {
    width: 25px;
    height: 25px;
    padding: 5px;
}

img#iDev {
    width: clamp(50px, 50vw, 100px);
    height: clamp(45px, 50vw, 90px);
    margin-left: 3px;
    margin-top: 10px;
}
  span:hover {
    background-color: cornsilk;
    color:black;  
}
span:active{
    color: black;
    background-color: white;
}
p#iPrimeiroTxt {
    text-align: center;
    font-size: 12px;
}
p#iTopo {
text-align: right;
color: black;
margin-top: -60px;
margin-bottom: -5px;
padding-right: 10px;
font-family: 'Fuggles', cursive;
font-size: 40px;
}

nav#iMenu {
    display: inline-flex;
    position: relative;
    max-width: 600px;
    margin: -17px 0px -19px -43px;
}
    
nav#iMenu ul {
    list-style: none;
    margin: auto;
    text-transform: uppercase;
}

nav#iMenu li {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 8px;
    width: 56px;
    margin: 0px;
    margin-left: 0;
    padding: 10px;
}
a#iNav {
    color: black;
    padding: 4px;
    text-decoration: none;
}
nav#iMenu li:hover {
    background-color: black;
    transition: 1s;
    
}
a#iNav:hover {
    color: rgb(255, 255, 255);
}
nav#iMenu li:active {
    background-color: white;
    transition: none;
}
a#iNav:active {
    color:black;
}

img#iIcone{
    width: clamp(50px, 50vw, 100px);
    height: clamp(45px, 50vw, 90px);
    margin-left: 3px;
    margin-top: 10px;
}

div#painel {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

p#iFooter{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.texto-sobreposto {
  position: absolute;
  top: 50px;
  left: 212px;
  color: white;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
  padding: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

img#sos {
    width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

